In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('C:/PYTHON/pandas_drill/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
62,tt2057392,13000000,32848185,Eye in the Sky,Helen Mirren|Aaron Paul|Alan Rickman|Iain Glen...,Gavin Hood,Welcome to the new front line,A military officer in command of a drone opera...,102,Drama|Thriller|War,Entertainment One|Moonlighting Films|Raindog F...,9/11/2015,7.2,2015
106,tt1791682,10000000,7587485,While We're Young,Ben Stiller|Naomi Watts|Adam Driver|Amanda Sey...,Noah Baumbach,Life Never Gets Old.,An uptight documentary filmmaker and his wife ...,97,Drama|Comedy,Scott Rudin Productions|A24,3/27/2015,5.9,2015
595,tt0186589,11000000,13276953,Sugar & Spice,Marla Sokoloff|Marley Shelton|Melissa George|M...,Francine McDougall,Why would the most popular girl in school wear...,When Jack (James Marsden) and Diane (Marley Sh...,81,Crime|Comedy,New Line Cinema,1/24/2001,5.4,2001
709,tt1213644,25000000,14109284,Disaster Movie,Matt Lanter|Vanessa Lachey|Nicole Ari Parker|C...,Jason Friedberg|Aaron Seltzer,Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,Action|Comedy,Grosvenor Park Media Ltd.|LionsGate|3 in the Box,8/29/2008,3.3,2008
104,tt3623726,18000000,41325328,Ricki and the Flash,Meryl Streep|Kevin Kline|Mamie Gummer|Sebastia...,Jonathan Demme,Get Ready for Ricki.,"Meryl Streep stars as Ricki Rendazzo, a guitar...",100,Comedy|Drama|Music,Columbia TriStar|Clinica Estetico|LStar Capital,7/10/2015,5.5,2015

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [71]:
# тут пишем ваш код для решения данного вопроса:
movieid_set=['tt1345836','tt0413300','tt2395427','tt1032751','tt1298650']
data[{'original_title','imdb_id'}].loc[data['budget']==data.loc[data['imdb_id'].isin(movieid_set)]['budget'].max()]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [0]:
# тут пишем ваш код для решения данного вопроса:
data[{'original_title','imdb_id'}].loc[data['runtime']==data['runtime'].max()]

In [ ]:
# можно добавлять разные варианты решения

query='runtime =='+ str(data['runtime'].max())
data.query(query)[{'original_title','imdb_id'}]

# 3. Какой из фильмов самый короткий (в минутах)?

In [72]:
query='runtime =='+ str(data['runtime'].min())
data.query(query)[{'original_title','imdb_id'}]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [80]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [81]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [83]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit']=data['revenue']-data['budget']
query='profit =='+ str(data['profit'].max())
data.query(query)[{'original_title','imdb_id'}]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [84]:
query='profit =='+ str(data['profit'].min())
data.query(query)[{'original_title','imdb_id'}]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [88]:
len(data.loc[data['revenue']>data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [130]:
data_tmp=data.query('release_year==2008')
data_tmp[{'imdb_id','original_title'}].loc[data_tmp['revenue']==data_tmp['revenue'].max()]

       imdb_id   original_title
599  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [133]:
data_tmp=data.query('release_year>=2012 & release_year<=2014')
data_tmp[{'imdb_id','original_title'}].loc[data_tmp['profit']==data_tmp['profit'].min()]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)